/* PHASE 0: Sidebar */
.content-sidebar {
  margin: -100px 0 0 0;
  padding-bottom: 40px;
}

.profile-picture{
  position: relative;
  margin-top: -20px;
  border: 1px solid black;
  border-radius: 5px;
}

.name{
  font-weight: bold;
  font-size: 24px;
}

.profile-info{
  margin: 10px 0 10px 0;
}

.profile-info > p {
  padding: 10px 0 10px 0;
}

.profile-nav ul > li {
  padding: 5px;
  border-top: 1px solid lightgray;
  font-weight: bold;
}

.profile-nav > ul:last-child{
  border-bottom: 1px solid lightgray;
}